body{
    font-family: system-ui;
}

section{
    text-align: center;
}

.game-title{
 font-size: 100px;
 color: #2b2006;
 margin: 10px auto;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 306px;
    margin: 10px auto;
    background-color: #11213a;
    color: #04c0b2;
}

.cell{
    font-family: "Permanent Marker",cursive;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px #ecd7ba ;
    border: 2px solid #ecd7ba;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
.game-status{
    font-size: 50px;
    color: rgb(139, 139, 145);
    margin: 20px auto;
}

.game-restart{
    background-color: #f7e4ac;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #5585e2;
box-shadow: 2px 2px 2px 2px #d86c23;
border: 2px solid #d86c23;
}

.name3{
    margin-top: 5px;
    padding: 5px;
    border: 5px solid;
    color: black;
    
}

.linking{
    background-color: black;
    color: white;
    padding: 3px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: medium ;
    font-stretch: expanded;
    /* font-style: italic; */
     border-radius: 10px;
     padding: 10px;


}

.p1{
    background-image: url("stars.jpg");
    /* color: aliceblue; */
    height: 100%;
    align-content: center;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.baba{
    background-color: rgb(46, 41, 87);
    /* width: fit-content; */
    margin-left: 35% ;
    margin-right: 35%;
    padding-top: 25px;
    border-radius: 30px;
    margin-top: 30px;
    opacity: 0.7;
    color: #f7e4ac;
}